<!-- right column-->
<div class="col-md-3">
    <!-- right column Popular tags-->
    <h2> Popular tags</h2>
    <div class="popular_tags">
        {% for j in atags %}
        <a href="/tag/{{j}}" class="popular_tags_medium"> {{j}}</a>
        {% endfor %}
    </div>
    <!--END right column Popular tags-->

    <!-- right column Best Members-->
    <h2> Top users</h2>
    <ul class="list-group best_members" type="none">
        {% for user in ausers %}
        <li>{{user}}</li>
        {% endfor %}
    </ul>
    <!--END right column Best Members-->
</div>
<!--END right column-->
