{% extends "base/index.html" %}
{% block content %}

<h2 class="">HOT!</h2> 
          <ul class="list-group" type="none">
            <!-- Start Question-->
              {% for i in questions %}
            <li>
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-md-2">                      
                    <img src="/static/img/1.jpg"  class="img-rounded" style="width: 100px; height: 100px;" >
                                                       
                      <h2 class="question_rate">{{i.id}}<button class="btn btn-success rounded_btn question_rate_btn" type="submit">↑</button>
                      <button class="btn btn-danger rounded_btn question_rate_btn" type="submit">↓</button></h2>
                      
                  </div>
                  <div class="col-md-10">
                    <h4> <a href="question.html">{{i.title}}</a> </h4>
                    <p>{{i.text}}</p>
                    <div class="question_answers_and_tegs_block">
                      <div class="col-md-6">
                          <a href="question.html">Answers <span class="badge">10</span> </a>
                      </div>
                      <div class="col-md-6 tags">
                        Tags: 
                        <a href="bytag.html"> Tag</a>
                        <a href="bytag.html"> Sample</a>
                        <a href="bytag.html"> Nice</a>
                        <a href="bytag.html"> Question</a>
                        <a href="bytag.html"> C</a>
                        <a href="bytag.html"> Progi</a>
                      </div>
                    </div>
                  </div> 
                </div> 
              </div> 
            </li>
              {% endfor %}
              {% include "base/paginator.html" %}
    {% endblock %}