{% extends "base/main.html" %}
{% block content %}
{% load tt %}
{% include "base/singlequestion.html" %}
<hr class="style-one">
{% for answer in answers %}
<ul class="list-group" type="none">
    <!-- Start answer-->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="/{{answer.author.avatar}}" class="img-rounded" style="width: 110px; height: 110px;">
                    <div class="row">
                        <h2 align="center" id="{{ answer.id }}ratinganswer">{{ answer.rating }}</h2>
                    </div>
                    {% if user.is_authenticated %}
                    {% getUserLikeAnswer answer user as userRate%}
                    <div align="center">
                        <img src="/static/img/Down-50.png"
                             {% ifequal userRate -1 %}
                             style="background-color:red;"
                             {% endifequal %}
                             class="img-rounded dislikeanswer"
                             qid="{{ answer.id }}"
                             id="{{ answer.id }}dislikeanswer">
                        <img src="/static/img/Up-50.png"
                             {% ifequal userRate 1 %}
                             style="background-color:green;"
                             {% endifequal %}
                             class="img-rounded likeanswer"
                             qid="{{ answer.id }}"
                             id="{{ answer.id }}likeanswer">
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <p>{{answer.text}}</p>
                </div>
            </div>

        </div>
    </div>
</ul>
{% endfor %}
<hr class="style-one">
{% if answers.has_other_pages %}
<ul class="pagination">
    {% if answers.has_previous %}
    <li><a href="?page={{ answers.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in answers.paginator.page_range %}
    {% if answers.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if answers.has_next %}
    <li><a href="?page={{ answers.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}
{% if form %}
<form method="POST" class="form-horizontal" enctype="multipart/form-data">
    {% include "base/niceform.html" %}
    <button type="submit" class="btn btn-default">Answer</button>
</form>
{% endif %}
{% endblock %}